API/.vs/API/v16/.suo
API/bin/Debug/net5.0/API.pdb
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/DesignTimeBuild/.dtbcache.v2
.vs/Projekt/v16/.suo
API/projekt.db
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/v16/.suo
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/ref/API.dll
API/obj/API.csproj.nuget.g.props
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/ref/API.dll
client/src/.vs/VSWorkspaceState.json
client/src/.vs/src/v16/.suo
/client/src/.vs/slnx.sqlite
/client/src/.vs/src/config/applicationhost.config
