API/.vs/API/v16/.suo
API/bin/Debug/net5.0/API.pdb
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/DesignTimeBuild/.dtbcache.v2
.vs/Projekt/v16/.suo
API/projekt.db
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/.vs/API/v16/.suo
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/ref/API.dll
API/obj/API.csproj.nuget.g.props
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/ref/API.dll
client/src/.vs/VSWorkspaceState.json
client/src/.vs/src/v16/.suo
/client/src/.vs/slnx.sqlite
/client/src/.vs/src/config/applicationhost.config
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/API.genruntimeconfig.cache
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.assets.cache
API/obj/project.nuget.cache
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.dgspec.json
API/obj/project.assets.json
API/bin/Debug/net5.0/API.runtimeconfig.dev.json
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.deps.json
API/.vs/API/v16/.suo
API/.vs/API/DesignTimeBuild/.dtbcache.v2
API/projekt.db
.vs/Projekt/v16/.suo
API/bin/Debug/net5.0/API.pdb
client/src/app/categories/categories-list/categories-list.component.ts
API/projekt.db
API/.vs/API/v16/.suo
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/ref/API.dll
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/ref/API.dll
API/bin/Debug/
