<!-- Strona bez zarejstrowanego usera -->
<div *ngIf="!isLoggedIn" class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center' class="wrapper">
        <h1>Witaj to aplikacji ToDo</h1>
        <p class="lead">Jeżeli chcesz poprawić organizację swojego czasu zaloguj się a jeśli nie posiadasz jeszcze
            konta, możesz się śmiało zarejestrować</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="blue-button btn btn-primary btn-lg mr-2"
                style="margin-top: 20px;">Zarejestruj się</button>
        </div>
    </div>
<!-- Rejstracja -->
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegistrationMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoggedIn" class="container" style="text-align: center;">
    <h1>Witaj to aplikacji ToDo</h1>
</div>