<!-- Dodawanie kategorii kategorii -->
<div *ngIf="addCategoryToggle" class="container" style="width:800px;margin:0 auto">
  <form #categoryForm="ngForm" (ngSubmit)="addCategory()" autocomplete="off" style="text-align: center;">
    <h1 style="margin-bottom: 30px;">Dodaj kategorie </h1>
    <div class="form-group">
      <input type="text" class="form-control default-input" style="width:400px; margin-bottom: 20px;" name="Name" 
        [(ngModel)]="newCategory.Name" placeholder="Nazwa kategorii">
    </div>
    <div class="form-group text-center" style="width:60%; display: flex;justify-content: space-around;margin: 0 auto;">
      <button class="btn btn-success mr-2 blue-button" style="width:150px;" type="submit">Dodaj kategorie</button>
      <button class="btn btn-secondary mr-2 blue-button" style="width:150px;" (click)="toggleAddCategory()">Anuluj</button>
    </div>
  </form>
</div>
            
<!-- Wyswietlanie wszystkich kategorii -->
<div *ngIf="!addCategoryToggle" class="container">
  <button class="btn btn-primary" (click)="toggleAddCategory()">Dodaj Kategorie</button>
  <div *ngIf="!isCategoryDisplayed" class="col-5">
    <ul *ngFor="let category of categories" class="list-group">
      <button type="button" (click)="loadCategoryItems(category.category)"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{ category.category }}
        <span class="badge badge-primary badge-pill">{{ category.toDos }}</span>
      </button>
      <button (click)="deleteCategory(category.id)" >Usuń</button>
    </ul>
  </div>
  <!-- Wyswietlanie wybranej kategorii -->
  <app-selected-category *ngIf="isCategoryDisplayed" 
  [toDosFromCategoriesList]="categoryItems"
    (back)="cancelDisplayingItems($event)">
  </app-selected-category>
</div>