<div class="container task-list-container" style="margin: 0 auto;">
  <h1 class="col-12 text-center" style="margin-bottom: 30px;">Zadania</h1>
  <!-- DOdawanie itemka -->
  <div *ngIf="addItemMode" class="tsk-container">
    <form #createToDoItemForm="ngForm" (ngSubmit)="addNewItem()">
      <div class="row">
        <div class="col">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Zadanie</label>
          <input type="text" class="form-control default-input" name="description" [(ngModel)]="createItem.description"
            placeholder="Co masz do zrobienia?">
        </div>
        <div class="col">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Kategoria</label>
          <select class="custom-select mr-sm-2 default-input" id="inlineFormCustomSelect"
            (change)="selectCategoryChange($event)">
            <option disabled selected>Wybierz kategorie...</option>
            <option [value]="category.category" *ngFor="let category of categories">{{category.category}}</option>
          </select>
        </div>
      </div>
      <div class="button mb-4">
        <button class="btn btn-primary blue-button" (click)="addItemToggle()">Powrót</button>
        <button class="btn btn-primary blue-button task-reload" type="submit">Wyślij</button>
      </div>
    </form>
  </div>
  <!-- Wyswietlanie itemkow -->
  <div class="button mb-4" style="width:100%">
    <div *ngIf="!addItemMode" style="width:100%">
      <button class="btn btn-primary blue-button" (click)="addItemToggle()">Dodaj zadanie</button>
    </div>
    <div class="task-display-container">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let todos of todoitems">
          <div class="task-data" style="align-items: center;" (click)="endJob(todos.id)"
            [ngStyle]="{'text-decoration':todos.isCompleted == true ? 'line-through' : ''}">
            <div class="col col-3 text-center"> {{ todos.description }} </div>
            <div class="col col-3"> {{ todos.created }} </div>
            <div class="col col-3"> {{ todos.category }} </div>
            <div><button (click)="deleteTask(todos.id)" class="blue-button" >Usun</button></div>
          </div>
         
        </li>
      </ul>
    </div>
  </div>
</div>